* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #212121;
}

::-webkit-scrollbar-thumb {
    background: #0edf23;
    border-radius: 10px;
}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgba(27, 25, 25, 0.788);
    align-items: center;
    position: fixed; /* Fixed positioning to make it stay at the top */
    top: 0; /* Set distance from the top */
    z-index: 1000; /* Set a high z-index to ensure it's above other elements */
    transition: all 0.3s ease;
    scroll-snap-align: start;
}

nav * {
    /* border: 1px solid red; */
}

.logo {
    height: 50%;
    margin-left: 30px;
    cursor: pointer;
}

.nav-links-container {
    list-style-type: none;
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.nav-link strong, .menu-overlay-items li a strong{
    color: #0edf23;
}

.nav-link:hover {
    color: #fff;
    border-bottom: 2px solid #0edf23;
}

.nav-link:active {
    color: #fff;
    border-bottom: 2px solid #0edf23;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.dropdown img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #1c1b1b;
    box-shadow: 0px 8px 16px 0px rgba(59, 255, 59, 0.192);
    min-width: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    z-index: 1;
    margin-top: 170px;
    border-radius: 10px;
    animation: dropdown 0.6s ease-in-out;
}

@keyframes dropdown{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.play-game{
    background-color: #0edf23;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
}
  
.hamburger-menu {
    position: absolute;
    right: 0;
    background-image: url(/assets/menu-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 30px;
    display: none;
    z-index: 1000;
    transition: all 0.3s ease;
}

.hamburger-menu:focus {
    outline: none;
}

.menu-overlay {
    /* border: 1px solid red; */
    position: fixed;
    top: 70px;
    right: 0;
    height: 50vh;
    width: 400px;
    background-color: rgba(27, 25, 25, 0.788);
    z-index: 100;
    right: -100%;
    border-radius: 0 0 0 10px;
    transition: all 0.3s ease;
}

.menu-overlay-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

.menu-overlay-items li {
    margin-bottom: 25px;
}

.menu-overlay-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    margin-bottom: 20px;
}

.menu-overlay-items li a:hover {
    color: #fff;
    border-bottom: 2px solid #0edf23;
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Ensure the video doesn't affect scrolling */
    position: relative; /* Ensure other absolute-positioned elements are positioned relative to this */
    margin-top: 70px;
    scroll-snap-align: start;
}

    main *{
        /* border: 1px solid red; */
    }

    .video-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .tag-line {
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 50%;
        position: absolute; /* Use absolute positioning to overlay on top of the video */
        top: 10px;
        left: 0;
        transition: all 1s ease;
        /* border: 1px solid green; */
        padding-top: 25px;
        padding-bottom: 25px;
        cursor: default;
    }

    .tag-line h1{
        font-family: 'Lora', serif;
        font-size: 80px;
        font-weight: 700;
        margin: 0 30px; 
        transition: all 2s ease;
    }

    .tag-line h2{
        font-family: 'Lora', serif;
        font-size: 50px;
        font-weight: 600;
        margin: 0px 30px;
        transition: all 2s ease;
    }

    .description {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin-left: 30px;
        margin-top: 17rem;
        position: absolute; /* Use absolute positioning to overlay on top of the video */
        left: -100%;
        transition: all 2s ease;
        opacity: 0;
        cursor: default;
    }

    .description strong {
        font-family: 'Lora', serif;
        font-size: 30px;
        font-weight: 700;
    }

    .about {
        color: #fff;
        display: flex;
        padding: 50px 0;    
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        scroll-snap-align: start;
    }

    .about-team{
        display: flex;  
        flex-direction: column;
        /* border: 1px solid red; */
    }

    .about-team h1{
        font-family: 'Lora', serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }

    .team-members {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
        height: 90%;
        /* border: 1px solid red; */
    }

    .team-member:nth-child(even){
        flex-direction: row-reverse;
    }

    .team-member{
        display: flex;
        flex-direction: row;
        margin: 15px 0;
        width: 100%;
        height: 15rem;
        /* border: 1px solid red; */

    }


    .member-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
    }

    .member-image img{
        height: 80%;
        border-radius: 50%;
    }

    .member-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        /* border: 1px solid red; */
    }

    .even{
        border-radius: 20px 0 0 20px;
    }

    .odd{
        border-radius: 0 20px 20px 0;
    }

    .member-description h3{
        font-family: 'Lora', serif;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .member-description h3 br{
        display: none;
    }

    .member-description ul{
        list-style-type: none;
        /* border: 1px solid red; */
    }

    .member-description ul li{
        font-family: 'Lora', serif;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
    }

    .member-socials{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        /* border: 1px solid red; */
    }

    .member-socials a{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        margin: 0 10px;
    }

    .member-socials img{
        height: 50px;
        transition: all 0.3s ease;
        margin: 10px;
    }

    .member-socials img:hover{
        transform: scale(1.2);
    }

    .about-project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        padding: 20px 50px;
    }

    .about-project-description{
        text-align: center;
    }

    .about-project-description ul{
        list-style-type: none;
        /* border: 1px solid red; */
    }

    .about-project h1{
        font-family: 'Lora', serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }

    .about-project-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        /* border: 1px solid red; */
    }

    .about-project-image img{
        width: 50%;
        object-position: 50% 50%;
    }

    .game-redirect-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 30%;
        position:absolute;
        bottom: 10px;
        right: 20px;
        /* border: 1px solid red; */
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        right: -100%;
        transition: all 5s ease;
    }

    .game-redirect-container h2 {
        color: black;
        /* text-shadow: 2px 5px 5px #0edf23; */
        font-family: 'Lora', serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
        cursor: default;
    }

    .rules{
        list-style-type:disc;
        /* text-decoration:underline; */
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
        /* align-items: center; */
        margin-bottom: 20px;
        display: none;
        transition: all 5s ease-in-out;
        cursor: default;
    }

    .rules li {
        margin-bottom: 20px;
        font-family:'Lora', serif;
        font-size: 20px;
        font-weight: 600;
        cursor: default;
    }
 
    .game-redirect-button {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .game-redirect-button:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .game-redirect-button:active {
        color: #000
    }
    
    .game-redirect-button:active:after {
        background: transparent;
    }
    
    .game-redirect-button:hover:before {
        opacity: 1;
    }
    
    .game-redirect-button:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 0, 0);
    }

    .footer-message{
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        width: 50%;
    }

    .footer-links a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        margin: 0 10px;
    }

    .footer-links a:hover{
        border-bottom: 2px solid #ffffff;
    }

    @media screen and (max-width: 1150px) {
        .nav-links-container {
            width: 60%;
        }

        .tag-line {
            width: 100%;
        }

        .description {
            width: 50%;
        }
        
    }

    @media screen and (max-width: 1000px) {
        .nav-links-container {
            display: none;
        }
    
        .hamburger-menu {
            display: flex;
        }
    
        .dropdown{
            position: relative;
        }
    
        .dropdown-content{
            display: none;
        }
    
        .mobile-dropdown{
            height: 30px;
            display: flex;
            /* border: 1px solid red; */
            gap: 7px;
        }
    
    
        .mobile-dropdown img{
            height: 20px;
            align-self: center;
            cursor: pointer;
            transition: all 0.3s ease;
            transform: rotate(0deg);
            /* border: 1px solid red; */
        }
    
        .mobile-dropdown-content{
            display: none;
            position: absolute;
            margin-top: 50px;
            right: 30px;
        }

        .description {
            width: 50%;
        }

        .about-team h1{
            font-size: 40px;
        }

        .team-membes{
            width: 100%;
            height: 100%;
        }

        .team-member{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .team-member:nth-child(even){
            flex-direction: column;
        }

        .member-description{
            width: 90%;
            height: 100%;
            align-items: center;
            border-radius: 15px;
        }

        .member-description h3{
            text-align: center;
        }

        .member-description h3 br{
            display: block;
        }

        .member-socials a{
            font-size: 20px;
        }
        

        .member-image{
            margin-bottom: 30px;
        }

        .member-image img{
            height: 20%;
        }

        .footer{
            text-align: center;
            flex-direction: column;
            height: 20vh;
        }

        .footer-message{
            width: 100%;
            margin-bottom: 10px;
        }
        
    }

    @media screen and (max-width: 620px){

        body{
            /* border: 1px solid red; */
            width: 100%;
        }



        .logo{
            margin-left: 10px;
        }

        .video-background {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 70% 50%;
            z-index: -1;
        }

        .nav-links-container {
            display: none;
        }

        .hamburger-menu {
            display: flex;
        }

        .tag-line {
            width: 100%;
            text-align: center;
            margin-left: 0;
        }


        main{
            height: 110vh;
        }

        .description {
            display: none;
        }

        .description br{
            display: none;
        }

        .game-redirect-container {
            width: 90%;
            height: 45%;
            /* margin-top: 50px; */
            bottom:-100%;
            right: 50%;
            transform: translateX(50%);
            transition: all 1s ease-in-out;
        }

        .game-redirect-container h2 {
            font-size: 30px;
            margin-bottom:7px;
        }

        .rules{
            display: block;
            width: 80%;
            /* border: 1px solid red; */
            margin-bottom:5px;
        }

        .rules li {
            font-family:'Lora', serif;
            font-size: 20px;
            font-weight: 600;
            margin-bottom:5px;
        }

        .about-team h1{
            font-size: 40px;
        }

        .team-membes{
            width: 100%;
            height: 100%;
        }

        .team-member{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .team-member:nth-child(even){
            flex-direction: column;
        }

        .member-description{
            width: 90%;
            height: 100%;
            align-items: center;
            border-radius: 15px;
        }

        .member-description h3{
            text-align: center;
        }

        .member-description h3 br{
            display: block;
        }

        .member-socials a{
            font-size: 20px;
        }
        

        .member-image{
            margin-bottom: 30px;
        }

        .member-image img{
            height: 20%;
        }

        .footer{
            text-align: center;
            flex-direction: column;
            height: 20vh;
        }

        .footer-message{
            width: 100%;
            margin-bottom: 10px;
        }
        
    }
