*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    overflow: hidden;
}

.intro{
    width: 100%;
    height: 85vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.menu-icon img{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index:1000;
}

.menu-items{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border: 1px solid white;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:50%;
    transform: translate(-50%, 0);
    width: 60%;
    margin: 1rem;
  }

  .toggle-button-story {
    border: 1px solid white;
    background-color: green;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    padding: 0.5rem;
  }
  .toggle-button-fullscreen {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    padding: 0.5rem;
  }


    .toggle-button-story:hover, .toggle-button-fullscreen:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px white;
    }



.right-half {
    width: 50%;
    height: 100%;
    background-color: rgba(97, 97, 28, 0.801);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    background: linear-gradient(to left, rgba(97, 97, 28, 0.801) 0%, rgba(97, 97, 28, 0) 100%);
}

.blink {
    animation: blinkAnimation 0.5s infinite alternate;
}

@keyframes blinkAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.intro h1 {
    opacity: 0;
    transform: translateY(20px); /* Initial position, move from bottom */

    /* Animation for fading in and moving up */
    animation: fadeInFromBottom 2s ease-out forwards;
    z-index: 2;
}

/* Define the animation */
@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start from 20px below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move to the original position */
    }   
}

.instructions{
    position: absolute;
    bottom: 20px;
    z-index: 2;
}

.instructions p{
    margin-bottom: 1rem;
}

.game-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background: no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.9s ease;
    border-image: fill 0 linear-gradient(#0003, #0007);
}

.choice-box{
    display: none;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 25%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0));
}

.choice-box button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(8px);
}

.choice-box button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
}

.dialogue-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 90%);
}

@media screen and (max-width: 768px){
    .gamecontainer{
        display: none;
        visibility: hidden;
    }

    .menu-icon img{
        display: none;
    }

    body{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro
    { 
        display: none;
        visibility: hidden;
    }

    .mobile-popup{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
    }

    .tilt-icon{
        width: 100px;
        height: 100px;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 768px){
    .mobile-popup{
        display: none;
        visibility: hidden;
    }  
}

@media screen  and (max-height: 500px){

    .choice-box{
        height: 40%;
    }

}
    
